@import './../../../../styles.scss';

.user-mgmt-main-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - $header-height - 20px);
    padding: 0px;
}

.user-mgmt-grid-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 0;
    overflow: auto;
}

@keyframes flash {
    0% {
        color: black;
        background: lighten($color: rgb(68, 132, 68), $amount: 30);
    }

    50% {
        color: white;
        background: transparent;
    }

    100% {
        color: black;
        background: lighten($color: rgb(68, 132, 68), $amount: 50);
    }
}

.data-saving {
    animation: flash 1.5s ease-in-out infinite;
}
