<div class="btg-main">
  <nz-switch [(ngModel)]="isPercent" (ngModelChange)="countTypeChange($event)" nzCheckedChildren="Percent"
    nzUnCheckedChildren="Count" nzSize="small" />
  <nz-splitter nzLayout="vertical">
    <nz-splitter-panel [nzCollapsible]="true">
      <app-BufferTrendGraphCore [title]="techBTGTitle" [btgData]="techBTG"  #techBTGComponent></app-BufferTrendGraphCore>
    </nz-splitter-panel>
    <nz-splitter-panel [nzCollapsible]="true">
      <app-BufferTrendGraphCore [title]="ecoBTGTitle" [btgData]="ecoBTG"  #ecoBTGComponent></app-BufferTrendGraphCore>
    </nz-splitter-panel>
  </nz-splitter>
</div>