@import './../../../../scss/variables';

.btg-main {
    .ant-switch {
        background: $primary-color;
    }

    .ant-switch-checked {
        background: lighten($color: $primary-color, $amount: 15);
    }

    .ant-switch-small .ant-switch-inner {
        font-size: 10px;
    }

    height: calc(100vh - $header-height - 15px);
    display: flex;
    flex-direction: column;

    nz-splitter {
       flex: 1 1 auto;
        min-height: 0;
    }
}
