<div class="login-wrapper">
  <div class="login-inner-wrapper offset-lg-4 col-lg-4 offset-md-3 col-md-6 offset-sm-2 col-sm-8">
    <div class="login-content">
      <div class="card">
        <div class="card-body text-center">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-4">
              <i class="feather icon-unlock auth-icon"></i>
            </div>
            <h3 class="mb-4">Login</h3>
            <div class="input-group mb-3">
              <input type="text" class="form-control" formControlName="username" placeholder="User name" 
                [class.is-invalid]="loginForm.get('username')?.errors && loginForm.get('username')?.touched"/>
                @if (loginForm.get('username')?.hasError('required')) {
                <div class="invalid-feedback text-start">Username is required</div>
                }
                @if (loginForm.get('username')?.hasError('invalidUsername') || 
                  loginForm.get('username')?.hasError('userLockedout')) {
                  <div class="invalid-feedback text-start">{{loginFailureErrorMsg}}</div>
                  }
              </div>
            <div class="input-group mb-4">
              <input type="password" class="form-control" formControlName="password" placeholder="Password" 
              [class.is-invalid]="loginForm.get('password')?.errors && loginForm.get('password')?.touched"/>
              @if (loginForm.get('password')?.hasError('required')) {
              <div class="invalid-feedback text-start">Password is required</div>
              }
              @if (loginForm.get('password')?.hasError('invalidPassword')) {
              <div class="invalid-feedback text-start">{{loginFailureErrorMsg}}</div>
              }
            </div>

            <div class="form-group text-start mb-4">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" formControlName="rememberMe" />
                <label for="checkbox-fill-a1" class="cr">Remember Me</label>
              </div>
            </div>
            <button class="btn btn-primary mb-4">Login</button>
            <p class="mb-2 text-muted">
              Forgot password?
              <!-- <a href="mailto:support@plutoniumgroupindia.com">Contact Support</a> -->
              <a href="">Contact Support</a>
            </p>
            <p class="mb-0 text-muted">
              Don’t have an account?
              <a href="">Contact Support</a>
            </p>
          </form>
          @if(azureAuthActive) {
          <button class="mt-2 btn btn-sm btn-outline-primary" (click)="loginWithAzure()">
            Login with Microsoft
            <fa-icon [icon]="msIcon"></fa-icon>
          </button>
          }
        </div>
      </div>
    </div>
  </div>
</div>
