.row-loading-skeleton .nz-space .ant-skeleton-element .ant-skeleton-input-sm {
    width: 100% !important;
}

.row-loading-skeleton .nz-space .ant-space-item.ng-star-inserted {
    width: 100%;
}

.row-loading-skeleton .nz-space {
    width: 100%;
}

.row-loading-skeleton .ant-skeleton-element {
    width: 100% !important;
}

.fk-item-skeleton {
    width:100%;
    height: 10px;
}