<div style="height: 100%; display: flex; flex-direction: column;">
  <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 ">
    <h5 class="text-center">Change Password</h5>
    <hr class="mt-0 mb-0">
    <form class="row m-0 p-0" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <div class="col-12 ">
        <label for="" class="info-header ms-1">Current Password</label>
        <div class="input-group-sm input-group">
          <input [type]="showCurrentPassword ? 'text' : 'password'" class="form-control"
            formControlName="currentPassword" placeholder="Enter current password"
            [class.is-invalid]="changePasswordForm.get('currentPassword')?.errors && changePasswordForm.get('currentPassword')?.touched" />
          <span class="input-group-text cursor-pointer" (click)="showCurrentPassword = !showCurrentPassword">
            <fa-icon [icon]="showCurrentPassword ? faEyeSlash : faEye"></fa-icon>
          </span>
          @if (changePasswordForm.get('currentPassword')?.touched && changePasswordForm.get('currentPassword')?.invalid)
          {
          <div class="invalid-feedback text-start"> Current password is required </div>
          }
        </div>
      </div>

      <div class="col-12">
        <label for="" class="info-header ms-1">New Password</label>
        <div class="input-group-sm input-group">
          <input [type]="showNewPassword ? 'text' : 'password'" class="form-control" formControlName="newPassword"
            placeholder="Enter new password"
            [class.is-invalid]="changePasswordForm.get('newPassword')?.errors && changePasswordForm.get('newPassword')?.touched" />
          <span class="input-group-text cursor-pointer" (click)="showNewPassword = !showNewPassword">
            <fa-icon [icon]="showNewPassword ? faEyeSlash : faEye"></fa-icon>
          </span>

          @if (changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid) {
          <div class="invalid-feedback text-start">
            @if (changePasswordForm.get('newPassword')?.errors?.['required']) {
            <div>New password is required</div>
            }
          </div>
          }
        </div>
      </div>
      <div class="col-12">
        <label for="" class="info-header ms-1">Confirm Password</label>
        <div class="input-group-sm input-group">
          <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control"
            formControlName="confirmPassword" placeholder="Confirm new password" [class.is-invalid]="(changePasswordForm.get('confirmPassword')?.errors?.['required'] || changePasswordForm.errors?.['passwordMismatch'])
                    && changePasswordForm.get('confirmPassword')?.touched" />
          <span class="input-group-text cursor-pointer" (click)="showConfirmPassword = !showConfirmPassword">
            <fa-icon [icon]="showConfirmPassword ? faEyeSlash : faEye"></fa-icon>
          </span>

          @if (changePasswordForm.get('confirmPassword')?.touched &&
          (changePasswordForm.get('confirmPassword')?.errors?.['required'] ||
          changePasswordForm.errors?.['passwordMismatch'])) {
          <div class="invalid-feedback text-start">
            @if (changePasswordForm.get('confirmPassword')?.errors?.['required']) {
            <div>Confirm password is required</div>
            } @else if (changePasswordForm.errors?.['passwordMismatch']) {
            <div>Passwords do not match</div>
            }
          </div>
          }
        </div>
      </div>
      <div class="d-flex gap-2 mt-2">
        <button type="submit" class="btn btn-sm btn-primary" [disabled]="changePasswordForm.invalid">
          Change Password
        </button>
      </div>
    </form>
  </div>
</div>